<h2>Edit a post:</h2>
<%= form_with(model: @post, local: true, :html => {multipart: true}) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.label :file %><br>
      <%= form.file_field @post.file %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>