<h2>Add a post:</h2>
<%= form_with(model: [ @category, @category.posts.build ], local: true, :html => {multipart: true}) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.label :file %><br>
      <%= form.file_field :file %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>