<p>
  <strong>Name :</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= @category.description %>
</p>

<%= link_to 'Add new post', new_category_post_path(@category) %>

<h2>Posts</h2>
<% @category.posts.each do |post| %>
    <p>
      <strong>Name:</strong>
      <%= post.name %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <% post.comments.each_with_index do |comment, idx| %>
        <div style="margin-left: <%= 50*idx%>px">
          <p>
            <strong>Name:</strong>
            <%= comment.author %>
          </p>

          <p>
            <strong>Content:</strong>
            <%= comment.content %>
          </p>
        </div>
    <% end %>

    <div>
      <h3>Add a comment:</h3>
      <%= form_with(model: [ post, post.comments.build ], remote: true) do |form| %>
          <p>
            <%= form.label :author %><br>
            <%= form.text_field :author %>
          </p>
          <p>
            <%= form.label :content %><br>
            <%= form.text_area :content %>
          </p>
          <p>
            <%= form.submit %>
          </p>
      <% end %>
      <div><%= link_to 'Edit', edit_post_path(post) %></div>
      <div><%= link_to 'Destroy', post_path(post), method: :delete %></div>
    </div>

<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>